[Unit]
Description=happynet linux client
Requires=network.target

[Service]
User=root
ExecStart=/usr/local/bin/happynet /etc/happynet.conf -f
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target

